@{
    Layout = "_Layout";
}
<div class="card bg-primary text-white">
    <h1 class="card-header">Hello</h1>
    <div class="card-body">
          <p class="card-text">You trying to know view in mvc</p>
    </div>
</div>